.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    top: 0;
    z-index: 100;
}

.logo { 
    width: 80px;
    height: 70px; 
}
  
.county {
    display: flex; 
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.location{
    font-size: 1px;
    display: flex;
    align-items: flex-end
}

.desc1 {
    font-size: 10px;
}
  
.desc2 {
    font-size: 13px;
    font-weight: 800;
}

.search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
  
.searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #d0831e;
}

.searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.egyFlag{
    height: 20px; 
    width: 20px; 
    margin: 12px;
}


.login {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    color: rgb(11, 51, 252);
}

/* .login:hover, .egyFlag:hover, .orders:hover, .cart:hover{
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
} */

a{
    text-decoration: none;
    color: white;
}
    
/* a:hover{
    color: rgb(173, 173, 200);
}  */

.hello{
    font-size: 10px;
}

.account{
    font-size: 13px;
    font-weight: 800;
}

.checkout {
    display: flex;
    padding-left: 16px;
    padding-top: 10px;
    align-items: flex-end
}

.orders{
    font-size: 13px;
    font-weight: 800;
    margin-right: 20px;
}

.shopping {
    display: flex;
    align-items: center;
    color: white;
    font-size: 23px;
}

  
.cart {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 800;

}

@media only screen and (max-width: 530px) {
   .logo {
    padding-left: 0;    
    width: 70px;
   }

    .desc1 {
    font-size: 9px;
    }
  
    .desc2 {
    font-size: 11px;
    } 

    .searchInput {
        height: 8px;
    }
    
    .searchIcon {
    height: 19px !important;
    }
}

@media only screen and (max-width: 400px) {
    .desc1 {
        font-size: 9px;
        }
      
    .desc2 {
        font-size: 9px;
    } 
}